*{
    box-sizing: border-box;
}
.header{
    margin-bottom: 180px;
    width: 120%;
}
.logoimage, .navigation{
    flex-direction: row;     
}
.logoimage{
    height: 150px;
    margin-top: -10px;
}
.navigation{
    margin-top: 16px;
}
.item{
    margin-right: 60px;
}

    